@font-face {
    font-family: 'HarryP';
    src: url(fonte/HarryPotter.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cochin';
    src: url(fonte/cochin.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cochin', sans-serif;
    font-style: normal;
    font-weight: 400;
}

 body{
    display: flex;
    min-height: 100vh;
 }

.skill-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin: 5px;
}
 
aside {
    background-color: #ffffff;
    width: 280px;
    padding: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;

 }

aside h1{
    font-family: 'HarryP', sans-serif;
    font-size: 80px;
    text-shadow: #292929 2px 3px 2px;
    margin-bottom: 10px;
}

aside h2{
    font-size: 38px;
    font-weight: bold;
    margin: 20px 0 10px 0;
    color: #000000;
}

 .profile-pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
 }

.body{
    flex: 2;
    background-color: #0e0e22;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


 section header{
    margin-bottom: 20px;
 }
 
 section header h2 {
    font-size: 42px;
    font-weight: bolder;
    color: #D3AF37;
    margin-bottom: 5px;
 }

 section header h3 {
    font-size: 36px;
    color: #D3AF37;
    margin-bottom: 10px;
 }
 section footer {

    display: flex;
    gap: 15px;
    align-items: center;
 }
 
 section footer img {
  width: 80px;
  height: auto;
}

section p {
    line-height: 1.5;
    margin-bottom: 30px;
    font-size: 23px;
}

.school-logo {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.school-logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

a {
    font-size: 18px;
    color: #ffffff;
}

.emoji{
    font-size: 45px;
}